{
    "swagger": "2.0",
    "info": {
        "description": "This is a sample server Petstore server.",
        "title": "League",
        "termsOfService": "http://coding13.com/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://coding13.com/support",
            "email": "ogavaj@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "coding13.com",
    "basePath": "/v1",
    "paths": {
        "/api/v1/auth": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "username  password"
                ],
                "summary": "Print",
                "parameters": [
                    {
                        "type": "string",
                        "description": "username",
                        "name": "name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/utils.ReturnJSON"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "utils.ReturnJSON": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "data": {
                    "type": "object"
                },
                "desc": {
                    "type": "string"
                }
            }
        }
    }
}